{% extends 'layout/back.html.twig' %}

{% block title %}{{ deviceEntity.name}}{% endblock %}

{% block body %}
    <div class="container">
        <a class="m-2 btn btn-primary" href="{{ path('admin_device') }}">Retour</a>

        <div class="m-2 card" style="width: 40rem;">
            <div class="card-body">
                {% if deviceEntity.pathLogo !='' %}
                    <img src="{{ asset('uploads/logo/' ~ deviceEntity.pathLogo) }}" />
                {%endif %}
                <h5 class="card-title">{{ deviceEntity.name}}</h5>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
