{% extends 'layout/back.html.twig' %}

{% block title %}{{ gameCategoryEntity.name}}{% endblock %}

{% block body %}
    <div class="container">
        <a class="m-2 btn btn-primary" href="{{ path('admin_game_category') }}">Retour</a>

        <div class="m-2 card" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title">{{ gameCategoryEntity.name}}</h5>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}
