{% extends 'layout/front.html.twig' %}

{% block title %}Liste des forums{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Liste des forums </h1>
        <a class="m-2 btn btn-primary" href="{{ path('home') }}">Retour</a>
        <div class="row">
            {% for forum in forumEntities %}
                <div class="card col-4 m-2 border-success">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ path('forum_view', {'id': forum.id}) }}">{{ forum.title }}</a></h5>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
